.container{
    width: 900px;
    margin: 0 auto;
}

.item{

    display: flex;
    background-color: aquamarine;
    padding: 8px;
    border-radius: 10px;
    margin: 20px auto;
}

.image{
    width: 50%;
    margin-right: 10px;
}
.image img {
    width: 100%;
    cursor: pointer;
}

.description{
    width: 50%;
}