.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}
.logo{
    /*margin-left: 50px;*/
    color: #4f4949;
}

.row {
    display: flex;
    align-items: center;
}

.list {
    /*margin-right: 10px;*/
}

.list li {
    padding: 8px;
    margin-left: 10px;

}

.list li a {
    color: #000;
    position: relative;
}

.icon {
    margin-right: 5px;
}

.counter {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    background-color: red;
    padding: 2px 4px 2px 4px;
    border-radius: 50%;
    position: absolute;
    top: 27px;
    left: -5px;
    z-index: 1000;

}