.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
}

.list {
    margin-right: 10px;
}

.list li {
    padding: 8px;
    margin-left: 10px;
}

.list li a {
    color: #000;
}

.icon {
    margin-right: 5px;
}